@use "variables" as v;

.cuerpo-conocenos{
    display: flex;
    flex-flow:column;
    justify-content: center;
    color: v.$fuente-secundaria;
}
.subtituloa{
    font-size: v.$titulos;
    text-transform: v.$mayuscula;
    font-weight: v.$negrita;
    text-align: center;
    margin: 2vw;
}
.subtitulob{
    font-size: v.$titulos;
    text-transform: v.$mayuscula;
    font-weight: v.$negrita;
    text-align: center;
    margin: 1.5vw;
}
.info{
    font-size: v.$texto;
    text-align: center;
}
.info-horarios{
    display: grid;
    color: v.$fuente-secundaria;
    grid-template-areas: 
    "tinfa tcade tjuve"
    "hinfa hcade hjuve"
    ;
    text-align: center;
    margin:2vw 0;
    color: v.$fuente-primaria;
    gap: 1vw;
    justify-items: center;
}
.infa{
    background-color: v.$background;
    width: 50%;
    padding: 2vw;
    border-radius: v.$bordes;
}
.tinfa{
    grid-area: tinfa;
}
.hinfa{
    grid-area: hinfa;
}
.cade{
    background-color: v.$background;
    width: 50%;
    padding: 2vw;
    border-radius: v.$bordes;
}
.tcade{
    grid-area: tcade;
}
.hcade{
    grid-area: hcade;
}
.juve{
    background-color: v.$background;
    width: 50%;
    padding: 2vw;
    border-radius: v.$bordes;
}
.tjuve{
    grid-area: tjuve;
}
.hjuve{
    grid-area: hjuve;
}

.texto-info{
    font-size: v.$texto;
}
.mapa-cono{
    display: block;
    margin: 2vw auto;
    border-radius: v.$bordes;
}