@use "variables" as v;

footer{
    background-color: v.$background;
    color: v.$fuente-primaria;
    bottom: 0;
    padding: 1.5vw;
    margin: 1vw 0 0 0;
    display: grid;
    grid-template-areas: 
    "a a . ."
    "a a b b"
    "a a . ."
    "a a c c"
    "a a . ."
    ;
    align-items: center;
    justify-items: center;
    h3{
        font-family: v.$fuente;
        text-align: center;
    }
    a{
        text-align: center;
    }
    li{
        list-style: none;
    }
    .der{
        font-size: 1vw;
        grid-area: c;
    }
    .ayuntamiento-footer{
        width: 10vw;
        grid-area: b;
    }
    .mapa{
        border-radius: v.$bordes;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        grid-area: a;
    }
}
.footer-conocenos{
    background-color: v.$background;
    display: grid;
    grid-template-areas: 
    "b b c c"
    ;
    align-items: center;
    justify-items: center;
}
@media (max-width: 430px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4vw 4vw;
        margin: 2vw 0 0 0;
        grid-template-areas: none;

        .ayuntamiento-footer {
            width: 30vw;
            margin-bottom: 2vw;
        }

        .mapa {
            width: 90vw;
            height: 30vw;
            border-radius: 10px;
            margin: 5vw 20vw;
        }

        .der {
            margin: 2vw;
            font-weight:200;
            text-align: center;
            order: 99; 
            font-size: 0.5rem;
            margin-bottom: 2vw;
            text-align: center;
        }
    }

    .footer-conocenos {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: v.$background;
        padding: 2vw 0;
        grid-template-areas: none;
    }
}