@use "variables" as v;
.cuerpo-galeria{
    display: grid;
    grid-template-areas: 
    "imga imgb"
    "imgc imgd"
    "imge imgf"
    ;
    align-items: center;
    justify-items: center;
    margin-top: 5vh;
    .a{
    grid-area: imga;
    }
    .b{
    grid-area: imgb;
    }
    .c{
    grid-area: imgc;
    }
    .d{
    grid-area: imgd;
    }
    .e{
    grid-area: imge;
    }
    .f{
    grid-area: imgf;
    }
    .img{
    margin-bottom: 5vh;
    width: 90%;
    height: auto;
    border-radius: v.$bordes;
        transition: box-shadow 0.3s, transform 0.3s;
        &:hover {
        box-shadow: 0 4px 16px rgba(0,0,0,0.2);
        transform: scale(1.03);
        border-radius: 10px;
    }
}
}
@media screen and (max-width: 430px) {
    .cuerpo-galeria {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3vh;

        .a,
        .b,
        .c,
        .d,
        .e,
        .f {
            width: 100%;
            margin-bottom: 3vh;
        }

        .img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 3vh;
            
        }
    }
}