//aca va a ir todo el codigo de css y sass de mi header y su responsive//
@use "variables" as v;

header{
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1vw;
    margin: 0 0 1vw 0;
    background-color: v.$background;
    color: v.$fuente-primaria;
    font-family: v.$fuente;
    display: flex;
    justify-content: space-around;
    align-content: center;
    h1{
        text-align: center;
        font-size: 2vw;
        text-transform: uppercase;
        align-content: center;
        font-weight: bold;
        color: v.$fuente-primaria;
    }
    .container-fluid{
        background-color: v.$background;
    }
    .nav-link{
        color: v.$fuente-primaria;
    }
    .navbar-nav .nav-link.active{
        color: v.$fuente-primaria;
    }
    .navbar-collapse{
        flex-grow: 0;
    }
    .logo-header{
        height: 10vh;
        transition: box-shadow 0.3s, transform 0.3s;
        &:hover {
        box-shadow: 0 4px 16px rgba(0,0,0,0.2);
        transform: scale(1.03);
        border-radius: 10px;
    }
    }
    .ayuntamiento-header{
        height: 10vh;
        margin-left: 2vh;
        transition: box-shadow 0.3s, transform 0.3s;
        &:hover {
        box-shadow: 0 4px 16px rgba(0,0,0,0.2);
        transform: scale(1.03);
        border-radius: 10px;
    }
    }
    nav{
        align-content: center;
        ul{
            list-style: none;
            display: flex;
            gap: 1vw;
            li{
                a{
                    color: v.$fuente-primaria;
                    text-decoration: none;
                }
            }
        }
    }
    }

@media (max-width: 430px) {
    header {
        padding: 2vw;
        position: sticky;
        top: 0;
        width: 100%;

        .logo-header {
            height: 6vh;
        }

        .ayuntamiento-header {
            display: none;
        }

        .header-img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1vw;
            gap: 2vw;
        }

        h1 {
            text-align: center;
            font-size: 1rem;
            margin-bottom: 1vw;
        }

        .container-fluid.w-100.justify-content-around {
            flex-wrap: nowrap;
        }
    }
}