@use "variables" as v;
.main-cont{
    background-color: v.$fuente-primaria;
    color: v.$fuente-secundaria;
    font-family: v.$fuente;
    display: grid;
    grid-template-areas: 
    "foto-equipo form"
    ;
    justify-items: center;
    align-items: center;
    margin: 2vw 4vw 0 0 ;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s ease forwards;

    form{
        width: 30vw;
        display: flex;
        flex-flow: column wrap;
        grid-area: form;
        animation-delay: 0.8s;
            .enviar{
            font-size: v.$texto;
            text-transform: v.$mayuscula;
            color: v.$fuente-primaria;
            background-color: v.$color-acento;
            padding: 0;
            transition: background-color 0.3s, opacity 0.3s, box-shadow 0.3s, transform 0.3s;




            &:hover{
            opacity: 1;
            box-shadow: 0 4px 16px rgba(0,0,0,0.2);
            transform: scale(1.03);
            border-radius: 10px;
            background-color: #000a33;
            }
        }
            label{
            color: v.$fuente-secundaria;
            width: 100%;
        }
            input{
            height: 5vh;
            width: 100%;
            border-radius: v.$bordes;
            padding: 1vh 1vh 1vh 2vh;
            margin: 0vh 0vh 1.5vh 0vh;
}
        }
            .juega{
            font-size: v.$titulos;
            text-transform: v.$mayuscula;
            font-weight: v.$negrita;
            margin-bottom: v.$bordes;
            color: v.$fuente-secundaria;
            text-align: center;
        }
    }

    .foto-equipo{
        width: 90%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center ;
        grid-area: foto-equipo;
        border-radius: v.$bordes;
        animation-delay: 0.1s;
    }


.enviar:hover{
        opacity: 20%;
    }
@media screen and (max-width: 430px) {
    .main-cont {
        display: flex;
        flex-direction: column;
        grid-template-areas: 
            "foto-equipo"
            "form";
        margin: 8vw;
        form {
            width: 100%;
            border-radius: 10px;
            font-size: 0.8rem;
            .enviar {
                background-color: v.$color-acento;
                width: 100%;
                border-radius: 10px;
                font-size: 1rem;
            }
            .juega {
                font-size: 1.4rem;
                margin: 1.5rem;
            }
            input {
                border-radius: 10px;
            }
        }
        .foto-equipo {
            width: 100%;
            border-radius: 10px; // Cambiado a 10px
        }
    }
}