@use "variables" as v;
.producto{
    width: 20vw;
    transition: box-shadow 0.3s, transform 0.3s;
        &:hover {
        box-shadow: 0 4px 16px rgba(0,0,0,0.2);
        transform: scale(1.03);
        border-radius: 10px;
    }
}

.tienda{
    margin: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5.5vw;
.productos{
    width: 20vw;
    border-radius: v.$bordes;
    display: flex;
    justify-content: space-between;
}

}


.precios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6vw;
    text-align: right;
    margin: 2.5vw;;
}


.precio{
    padding: 0.2vw 8.1vw;
    border-radius: v.$bordes;
    background-color: v.$color-acento;
    color:v.$fuente-primaria;
    font-size: 2.5vw;
}
@media screen and (max-width: 430px){
    .tienda {
        flex-direction: column;
        align-items: center;
        gap: 6vw;
        margin: 4vw 0;

        .productos {
            width: 50vw;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            margin-bottom: 4vw;
        }
    }

    .producto {
        width: 90vw;
        margin-bottom: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 2vw;
        }

        .precio {
            font-size: 1.2rem;
            padding: 2vw 0;
            border-radius: 10px;
            width: 55vw;
            margin-bottom: 2vw;
            background-color: v.$color-acento;
            color: v.$fuente-primaria;
            text-align: center;
        }
    }
}