@use "variables" as v;
.producto{
    width: 20vw;
}
.tienda{
    margin: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5.5vw;
.productos{
    width: 20vw;
    border-radius: v.$bordes;
    display: flex;
    justify-content: space-between;
}
}


.precios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6vw;
    text-align: right;
    margin: 2.5vw;;
}


.precio{
    padding: 0.2vw 8.1vw;
    border-radius: v.$bordes;
    background-color: v.$color-acento;
    color:v.$fuente-primaria;
    font-size: 2.5vw;
}