@use "variables" as v;
.cuerpo-torneos{
    display: grid;
    grid-template-areas: 
    "vilanova manga"
    "nombre-vilanova nombre-manga"
    "sanxenxo laredo"
    "nombre-sanxenxo nombre-laredo"
    ;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    padding-top: 2vh;
}

.vilanova{
    border-radius: v.$bordes;
    grid-area: vilanova;
        transition: box-shadow 0.3s, transform 0.3s;
        &:hover {
        box-shadow: 0 4px 16px rgba(0,0,0,0.2);
        transform: scale(1.03);
        border-radius: 10px;
    }
}
.manga{
    grid-area: manga;
    border-radius: v.$bordes;
        transition: box-shadow 0.3s, transform 0.3s;
        &:hover {
        box-shadow: 0 4px 16px rgba(0,0,0,0.2);
        transform: scale(1.03);
        border-radius: 10px;
    }
}
.sanxenxo{
    grid-area: sanxenxo;
    border-radius: v.$bordes;
        transition: box-shadow 0.3s, transform 0.3s;
        &:hover {
        box-shadow: 0 4px 16px rgba(0,0,0,0.2);
        transform: scale(1.03);
        border-radius: 10px;
    }
}
.laredo{
    grid-area: laredo;
    border-radius: v.$bordes;
        transition: box-shadow 0.3s, transform 0.3s;
        &:hover {
        box-shadow: 0 4px 16px rgba(0,0,0,0.2);
        transform: scale(1.03);
        border-radius: 10px;
    }
}
.nombre-vilanova{
    font-size: v.$texto;
    grid-area: nombre-vilanova;
    margin-bottom: 10vh;
    margin-top: 2vh;
    width: 20vw;
    background-color: v.$background;
    color: v.$fuente-primaria;
    text-align: center;
    padding: 2vh 0 2vh 0;
    border-radius: v.$bordes;
}
.nombre-manga{
    font-size: v.$texto;
    grid-area: nombre-manga;
    margin-bottom: 10vh;
    margin-top: 2vh;
    width: 20vw;
    background-color: v.$background;
    color: v.$fuente-primaria;
    text-align: center;
    padding: 2vh 0 2vh 0;
    border-radius: v.$bordes;
}
.nombre-sanxenxo{
    font-size: v.$texto;
    grid-area: nombre-sanxenxo;
    margin-bottom: 10vh;
    margin-top: 2vh;
    width: 20vw;
    background-color: v.$background;
    color: v.$fuente-primaria;
    text-align: center;
    padding: 2vh 0 2vh 0;
    border-radius: v.$bordes;
}
.nombre-laredo{
    font-size: v.$texto;
    grid-area: nombre-laredo;
    margin-bottom: 10vh;
    margin-top: 2vh;
    width: 20vw;
    background-color: v.$background;
    color: v.$fuente-primaria;
    text-align: center;
    padding: 2vh 0 2vh 0;
    border-radius: v.$bordes;
}
@media screen and (max-width: 430px) {
    .cuerpo-torneos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4vw 2vw;

        .vilanova,
        .manga,
        .sanxenxo,
        .laredo {
            width: 50vw;
            margin-bottom: 4vw;
            border-radius: 10px;
        }

        .nombre-vilanova,
        .nombre-manga,
        .nombre-sanxenxo,
        .nombre-laredo {
            width: 55vw;
            font-size: 1rem;
            margin: 2vw 0 6vw 0;
            padding: 2vw 0;
            border-radius: 10px;
        }
    }
}