
$fuente-primaria: #ffff;
$fuente-secundaria: #000536;
$background: #000536;
$color-acento: #008bdb;
$fuente: poppins;
$bordes: 0.5vw;
$negrita: bold;
$titulos: 2.5vw;
$texto: 1.25vw;
$mayuscula: uppercase;

*{
    font-family: $fuente;
    color: $fuente-primaria;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}