* {
  font-family: poppins;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cuerpo-conocenos {
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #000536;
}

.subtituloa {
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 2vw;
}

.subtitulob {
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 1.5vw;
}

.info {
  font-size: 1.25vw;
  text-align: center;
}

.info-horarios {
  display: grid;
  color: #000536;
  grid-template-areas: "tinfa tcade tjuve" "hinfa hcade hjuve";
  text-align: center;
  margin: 2vw 0;
  color: white;
  gap: 1vw;
  justify-items: center;
}

.infa {
  background-color: #000536;
  width: 50%;
  padding: 2vw;
  border-radius: 0.5vw;
}

.tinfa {
  grid-area: tinfa;
}

.hinfa {
  grid-area: hinfa;
}

.cade {
  background-color: #000536;
  width: 50%;
  padding: 2vw;
  border-radius: 0.5vw;
}

.tcade {
  grid-area: tcade;
}

.hcade {
  grid-area: hcade;
}

.juve {
  background-color: #000536;
  width: 50%;
  padding: 2vw;
  border-radius: 0.5vw;
}

.tjuve {
  grid-area: tjuve;
}

.hjuve {
  grid-area: hjuve;
}

.texto-info {
  font-size: 1.25vw;
}

.mapa-cono {
  display: block;
  margin: 2vw auto;
  border-radius: 0.5vw;
}

footer {
  background-color: #000536;
  color: white;
  padding: 1.5vw;
  margin: 1vw 0 0 0;
  display: grid;
  grid-template-areas: "a a . ." "a a b b" "a a . ." "a a c c" "a a . .";
  align-items: center;
  justify-items: center;
}
footer h3 {
  font-family: poppins;
  text-align: center;
}
footer a {
  text-align: center;
}
footer li {
  list-style: none;
}
footer .der {
  font-size: 1vw;
  grid-area: c;
}
footer .ayuntamiento-footer {
  width: 10vw;
  grid-area: b;
}
footer .mapa {
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  grid-area: a;
}

.footer-conocenos {
  background-color: #000536;
  display: grid;
  grid-template-areas: "b b c c";
  align-items: center;
  justify-items: center;
}

.cuerpo-galeria {
  display: grid;
  grid-template-areas: "imga imgb" "imgc imgd" "imge imgf";
  align-items: center;
  justify-items: center;
  margin-top: 5vh;
}
.cuerpo-galeria .a {
  grid-area: imga;
}
.cuerpo-galeria .b {
  grid-area: imgb;
}
.cuerpo-galeria .c {
  grid-area: imgc;
}
.cuerpo-galeria .d {
  grid-area: imgd;
}
.cuerpo-galeria .e {
  grid-area: imge;
}
.cuerpo-galeria .f {
  grid-area: imgf;
}
.cuerpo-galeria .img {
  margin-bottom: 5vh;
  width: 90%;
  height: auto;
  border-radius: 0.5vw;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1vw;
  margin: 0 0 1vw 0;
  background-color: #000536;
  color: white;
  font-family: poppins;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
header h1 {
  text-align: center;
  font-size: 2vw;
  text-transform: uppercase;
  align-content: center;
  font-weight: bold;
  color: white;
}
header .container-fluid {
  background-color: #000536;
}
header .nav-link {
  color: white;
}
header .navbar-nav .nav-link.active {
  color: white;
}
header .navbar-collapse {
  flex-grow: 0;
}
header .logo-header {
  height: 10vh;
}
header .ayuntamiento-header {
  height: 10vh;
  margin-left: 2vh;
}
header nav {
  align-content: center;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1vw;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}

.main-cont {
  background-color: white;
  color: #000536;
  font-family: poppins;
  display: grid;
  grid-template-areas: "foto-equipo form";
  justify-items: center;
  align-items: center;
}
.main-cont form {
  width: 40vw;
  display: flex;
  flex-flow: column wrap;
  grid-area: form;
}
.main-cont .foto-equipo {
  grid-area: imgequipo;
  border-radius: 0.5vw;
  width: 40vw;
}
.main-cont .juega {
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5vw;
  color: #000536;
  text-align: center;
}
.main-cont .foto-equipo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  grid-area: foto-equipo;
}
.main-cont input {
  height: 5vh;
  border-radius: 0.5vw;
  padding: 1vh 1vh 1vh 2vh;
  margin: 0vh 0vh 1.5vh 0vh;
}
.main-cont .enviar {
  font-size: 1.25vw;
  text-transform: uppercase;
  color: white;
  background-color: #008bdb;
  padding: 0;
}

.cuerpo-torneos {
  display: grid;
  grid-template-areas: "vilanova manga" "nombre-vilanova nombre-manga" "sanxenxo laredo" "nombre-sanxenxo nombre-laredo";
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  padding-top: 2vh;
}

.vilanova {
  border-radius: 0.5vw;
  grid-area: vilanova;
}

.manga {
  grid-area: manga;
  border-radius: 0.5vw;
}

.sanxenxo {
  grid-area: sanxenxo;
  border-radius: 0.5vw;
}

.laredo {
  grid-area: laredo;
  border-radius: 0.5vw;
}

.nombre-vilanova {
  font-size: 1.25vw;
  grid-area: nombre-vilanova;
  margin-bottom: 10vh;
  margin-top: 2vh;
  width: 20vw;
  background-color: #000536;
  color: white;
  text-align: center;
  padding: 2vh 0 2vh 0;
  border-radius: 0.5vw;
}

.nombre-manga {
  font-size: 1.25vw;
  grid-area: nombre-manga;
  margin-bottom: 10vh;
  margin-top: 2vh;
  width: 20vw;
  background-color: #000536;
  color: white;
  text-align: center;
  padding: 2vh 0 2vh 0;
  border-radius: 0.5vw;
}

.nombre-sanxenxo {
  font-size: 1.25vw;
  grid-area: nombre-sanxenxo;
  margin-bottom: 10vh;
  margin-top: 2vh;
  width: 20vw;
  background-color: #000536;
  color: white;
  text-align: center;
  padding: 2vh 0 2vh 0;
  border-radius: 0.5vw;
}

.nombre-laredo {
  font-size: 1.25vw;
  grid-area: nombre-laredo;
  margin-bottom: 10vh;
  margin-top: 2vh;
  width: 20vw;
  background-color: #000536;
  color: white;
  text-align: center;
  padding: 2vh 0 2vh 0;
  border-radius: 0.5vw;
}

.producto {
  width: 20vw;
}

.tienda {
  margin: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5.5vw;
}
.tienda .productos {
  width: 20vw;
  border-radius: 0.5vw;
  display: flex;
  justify-content: space-between;
}

.precios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6vw;
  text-align: right;
  margin: 2.5vw;
}

.precio {
  padding: 0.2vw 8.1vw;
  border-radius: 0.5vw;
  background-color: #008bdb;
  color: white;
  font-size: 2.5vw;
}

/*# sourceMappingURL=styles.css.map */
